@import '__reset.scss'; 
@import '__variables.scss'; 
@import '__mixins.scss'; 
@import '__footer.scss'; 

body {
    font-family: 'Raleway', sans-serif;
}


// header 
.header {
    &__container {
        display: flex;
        justify-content: flex-end;
        padding: 0 10% 0 8%;
            // Arrow link back to the homepage
            .link {
                display: flex;

                &__arrow {
                    width: 30px;
                }
            }
            .header__logo {
                text-align: center;
                font-family: 'Shrikhand', sans-serif;
                padding: 15px;
                margin: 0px auto;
            }
        }
    // Restaurant image on the header background
    &__backgroundImage {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

// Display of the heart and the restaurant name 
.main {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform: translateY(-30px);
    background-color: rgb(235, 224, 224);
    padding: 40px 5%;

    
    &__title {
        font-family: 'Shrikhand', sans-serif;
        display: flex;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0% 6% 12% 25px;
    }
}   

    

// The two superimposed hearts 
.heart {
    // global design for the hearts
    &__icon {
        width: 25px;
        stroke-width: 30;
        stroke: black;
        fill: white;
        cursor: $cursorPointer;
        margin-top: 10px;  
    }
    // The heart on the front
    &--full {
        position: absolute;
        fill: url(#text-fill);
        stroke: none;
    }
    // The heart on the back
    &--empty {
        width: 25px;
        position: relative;
        // The heart animation
        &:hover {
           opacity: 0;
           transition: 0.5s;
        }
    }
       
}   

//The food section
.menu {
    display: flex;
    flex-direction: $columnDirection;
    gap: 20px;
    // Menu, dish and dessert titles
    &__title {
        position: relative;
        font-weight: 400;
        text-transform: uppercase;
        margin: 16px 0px -9px 15px;

        // The green line under the titles
        ::after {
            content           : "";
            display           : flex;
            top               : 3px;
            position          : relative;
            width             : 28px;
            height            : 3px;
            background-color  : rgba(0, 128, 0, 0.4)
        }
    }
}
// each meal container
.item {
    position: relative;
    cursor: $cursorPointer;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    animation: apparition 5s cubic-bezier(0.96, 0.01, 0.05, 0.97);

        // Animation for the green check section
        &:hover .item__checked {
            @include flexCenter; 
            animation: slide-left 0.5s ease;
            transform-origin: right;
        }

        // Price of the meal
        &__price {
            padding-right: 20px;
            font-weight: bold;
            padding-left: 7px;
            
        }
        // Left slide for the meal price
        &:hover .item__price {
            padding-right: 70px;
            transition: 0.5s ease ;
        }

        &__checked {
            display: none;
            position: absolute;
            background: #99E2D0;
            border-radius: 0 15px 15px 0;
            right: 0px;
            padding: 0 13px;
            width: 50px;
            height: 100%;

            img {
                font-size: 30px;
                transform: rotate(180deg);
                animation: rotate 0.5s both;
            }

            .item__icon {
                background-color: rgb(255, 253, 253);
                border-radius: 50%;
                width: 25px;
                height: 25px;

                .check_icon {
                    width   : 15px;
                    height  : 15px;
                    display: block;
                    margin: 5px auto;
                }
            }
        }
}
// Food ingredients 
.components {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .recipes {
       margin-left: 20px;
       white-space: nowrap;
       overflow: hidden;
       // The meal name    
       &__title {
           font-weight: bold;
       }
       // The meal supplement    
       &__subtitle p, 
       // The meal name    
       &__title p {
           margin: 0;
           text-overflow: ellipsis;
           overflow: hidden;
      
       }
   } 
}

// three keyframes animations

// Check Icon Rotation
@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

// Check Price and icon apparition 
@keyframes slide-left {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(-50px);
    }
}
      
// Items apparition animation    
@keyframes apparition {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// Loop for items apparition animation
@for $i from 1 to 10 {
    #item_#{$i} {
        animation-duration: 0.3s*$i;
    }
}

// Button Section 
.order {
    display: flex;
    justify-content: center;

    &__button {
        height: 60px;
        width: 226px;
        font-size: 26px;
        color: #f1f1f1;
        background-image: linear-gradient(to right, $Rose, $Violet);
        font-family: Roboto;
        border: none;
        border-radius: 30px;
        cursor: $cursorPointer;
        transition: box-shadow 0.7s ease-in-out;
    
        &:hover {
            box-shadow: 3px -1px 5px 5px rgba(0,0,0,0.75);
        }
    }
}
    @import '__restoQueries.scss'; 