@import '__reset.scss'; 
@import '__variables.scss'; 
@import '__mixins.scss'; 
@import '__footer.scss'; 

// header 

    .bgimg_resto {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .header_container {
        display: flex;
        justify-content: flex-end;
        padding: 0 10% 0 8%;
        .header_arrow {
            display: flex;
            img {
                width: 30px;
            }
        }
        .restaurant_logo {
            text-align: center;
            font-weight: 700;
            font-family: 'Shrikhand', sans-serif;
            font-size: 30px;
            padding: 15px;
            margin: 0px auto;
        }
    }

    main {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        transform: translateY(-30px);
        background-color: rgb(235, 224, 224);
        padding: 40px 5%;
    }
    .resto_title {
        font-family: 'Shrikhand', sans-serif;
        display: flex;
        align-self: center;
    }

    // Heart animation and the name of the restaurant
    .menu_header {
        display: flex;
        justify-content: space-between;
        padding: 0% 6% 12% 25px;
    }

    .heart {
        width: 25px;
        stroke-width: 30;
        stroke: black;
        fill: white;
        cursor: pointer;
        margin-top: 10px;
      }
      
      .heart_full {
        position: absolute;
        fill: url(#text-fill);
        stroke: none;
      }
      
      .heart_empty {
        width: 25px;
        position: relative;
      }
      
      .heart_empty:hover {
        opacity: 0;
        transition: 0.5s;
      }
    //   The food section

    .menu_starter, .menu_meals, .menu_desserts{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title_meals {
            position: relative;
            font-weight: 400;
            text-transform: uppercase;
            margin: 16px 0px -9px 15px;
            ::after {
                content           : "";
                display           : flex;
                top               : 3px;
                position          : relative;
                width             : 28px;
                height            : 3px;
                background-color  : rgba(0, 128, 0, 0.4)
            }
        }
    }
    .menu_item {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
        animation: apparition 0.5s cubic-bezier(0.96, 0.01, 0.05, 0.97) 0.5s normal forwards;
        
        &:hover .food_checked {
            display: flex;
            justify-content: center;
            animation: slide-left 0.5s ease;
            transform-origin: right;
            align-items: center;
        }
        &:hover .food_price {
            padding-right: 70px;
            transition: 0.5s ease ;
        }
        .food_checked {
            display: none;
            position: absolute;
            background: #99E2D0;

            border-radius: 0 15px 15px 0;
            right: 0px;
            padding: 0 13px;
            width: 50px;
            height: 100%;
            img {
                font-size: 30px;
                transform: rotate(180deg);
                animation: rotate 0.5s both;
            }
            .bg_icon {
                background-color: rgb(255, 253, 253);
                border-radius: 50%;
                width: 25px;
                height: 25px;
            }
        }
    }
    .food_recipes {
        margin-left: 20px;
        white-space: nowrap;
        overflow: hidden;
        .title {
            font-weight: bold;
        }
    } 
    .food_recipes p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
   
    }
        
        .food_price {
            padding-right: 20px;
            font-weight: bold;
            padding-left: 7px;
        }

    .menu_components {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .food_recipes p {
        margin: 0;
    }

    .check_icon {
        width   : 15px;
        height  : 15px;
        display: block;
        margin: 5px auto;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0);
    }
    100% {
            transform: rotate(360deg);
        }
    }
    
      @keyframes slide-left {
        0% {
                  transform: scaleX(0);
        }
        100% {
                  transform: scaleX(-50px);
        }
      }
      
     
      @keyframes apparition {
        0% {
                  opacity: 0;
        }
        100% {
                  opacity: 1;
        }
      }
    
.container_1 {
    animation-duration: 1s;
}
.container_2 {
    animation-duration: 1.2s;
}
.container_3 {
    animation-duration: 1.4s;
}
.container_4 {
    animation-duration: 1.6s;
}
.container_5 {
    animation-duration: 1.8s;
}
.container_6 {
    animation-duration: 2s;
}
.container_7 {
    animation-duration: 2.2s;
}
.container_8 {
    animation-duration: 2.4s;
}
.container_9 {
    animation-duration: 2.6s;
}
    // Button Section 
    .order_container {
        display: flex;
        justify-content: center;
    }
    .order_button {
        height: 60px;
        width: 226px;
        font-size: 26px;
        color: #f1f1f1;
        background-image: linear-gradient(to right, #ff79da, #9356dc);
        font-family: Roboto;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: box-shadow 0.7s ease-in-out;

        &:hover {
            box-shadow: 3px -1px 5px 5px rgba(0,0,0,0.75);
        }
    }
    @import '__restoQueries.scss'; 