@import '__reset.scss'; 
@import '__variables.scss'; 
@import '__mixins.scss'; 
@import '__footer.scss'; 

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
// Loader layout
.loader {
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,2); 
    z-index: 2;
    cursor: pointer; 
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
    animation: overlay 3.5s linear;
    // Three dots of the loader 
    &__dot {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin: 0 15px;
        animation: bounce 0.5s 4;
    }

    .dot1 {
        background-color: $Rose;
    }
    .dot2 {
        background-color: $Violet;
    }
    .dot3 {
        background-color: $Blue;
    }
}
// Animation for the three dots
@keyframes bounce {
    100% {
        transform: translateY(-30px);
    }
}
// Animation of the disappartion of the loader
@keyframes overlay {
    0% {
        visibility: visible;
        opacity: 0.9;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

// Header
.header {

    &__logo
     {
        text-align: $textCenter;
        font-family: Shrikhand, sans-serif;
        padding: 15px;
        margin: 0px auto;
        box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.75);
    }
}
// Location Container
.location {
    @include flexCenter; 
    gap: 5px;
    padding: 12px 0;
    background-color: rgba(128, 128, 128, 0.5);

    &__icon {
        width:  25px;
        height: 20px;
    }
}

// Site presentation 
.presentation {
    @include flexCenter; 
    flex-direction: $columnDirection;
    gap: 15px;
    padding: 20px 0px;

    &__slogan {
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        font-size: 22px;
        width: 90%;
        text-align: $textCenter;
    }

    &__description {
        text-align: $textCenter;
        color: rgb(100, 98, 98);
        font-size: 15px;
        width: 85%;
    }

    &__button {
        border: none;
        outline: none;
        padding: 2px 10px;
        width: 250px;
        height: 56px;
        font-weight: 500;
        font-size: 18px;
        border-radius: 50px;
        text-align: center;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        transition-duration: 0.5s;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;

        &:hover {
            background-color: #fff;
            box-shadow: 4px 4px 10px rgba(0,0,0,.5);
        }
    }
}

// Features Section 
.features {
    margin: 40px 0px 0px 20px;
    display: flex;
    flex-direction: $columnDirection;

    &__title {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;
    }
    
    &__list {
    @include flexCenter; 
    flex-direction: $columnDirection;
    gap: 25px;
    }

    &__item {
        display: flex;
        background-color: #f6f6f6;
        padding: 20px 8px;
        gap: 20px;
        text-align: $textCenter;
        width: 95%;
        border-radius: 20px;
        cursor: $cursorPointer;
        transition: background-color 0.5s ease-in-out;
        box-shadow: 5px 4px 2px rgba(26, 2, 2, 0.712);
        &:hover {
            background-color: #f5edff;
       }

       &__number {
        background-color: $Violet;
        color: white;
        border-radius: 50%;
        width       : 20px;
        height      : 20px;
        padding     : 5px;
        @include    flexCenter; 
        transform   : translateX(-15px);
     }

      &__icon {
            width: 15px;
            height: 15px;
            margin: auto 0px;
    }

      &__text {
        font-size: 14px;
        margin: auto 0px;
    }
  }
}   




// Restauration Section 
.main {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px 0px;
    background-color: #f6f6f6;
    width: 100%;
    padding: 0px 18px 42px 18px;

    // Restaurant Title
        &__title {
              font-weight: bold;
              font-size: 20px;
              margin: 38px 0px 22px 6px;
        }


        &__list {
            display: flex;
            flex-direction: $columnDirection;
            gap: 15px; 
        }
        

        &__card {
            position: relative;

            // Restaurant Photo 
            .resto__cover {
                width: 100%;
                height: 200px;
                object-fit: cover;
                aspect-ratio: 1/1;
                border-top-left-radius  : 15px;
                border-top-right-radius : 15px;
            }
            // The green button called 'nouveau'
            .main__button {
                position    : absolute;
                top         : 5px;
                right       : 20px;
                background-color: lightgreen;
                color       : #1b6150;
                padding     : 10px;
                text-align  : $textCenter;
            }
        }

        &__container {
            display: flex;
            justify-content: space-between;
            padding: 8px 9px 0px;
            background-color: #fff; 
            transform: translateY(-4px);
            height: 75px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            -webkit-box-shadow: 9px 0px 10px 4px rgba(126,124,121,0.16); 
box-shadow: 9px 0px 10px 4px rgba(126,124,121,0.16);

            .main__informations {
                display       : flex;
                flex-direction: $columnDirection;
                gap           : 5px;
            } 
        }


        .main__heart {
            margin: auto 0;
            // Double heart display
            &--icon {
                width       : 20px;
                stroke-width: 30;
                stroke      : black;
                fill        : white;
            }

            &--full {
                position: absolute;
                fill    : url(#text-fill);
                stroke  : none;
                width   : 32px;
                background-color: transparent;
            }

            &--empty {
                width   : 32px;
                position: relative;
                background-color: transparent;
                // Double heart animation
                &:hover {
                    opacity     : 0;
                    transition  : 0.5s;
                }
            }
        }
}


@import '__breakpoints.scss'