@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Shrikhand&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

footer {
  margin-top: 55px;
  padding: 18px;
  background-color: #353535;
}
footer .OhMyFood_footer {
  margin-bottom: 20px;
  color: white;
  font-weight: 400;
  font-family: Shrikhand, sans-serif;
  font-size: 22px;
}
footer .footer_icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}
.footer_list a {
  color: white;
}
.footer_list .footer_item {
  cursor: pointer;
}

.footer_list a:hover {
  text-decoration: underline;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

header p {
  text-align: center;
  font-weight: 700;
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  padding: 15px;
  margin: 0px auto;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.75);
}

.location_container {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 12px 0;
  background-color: rgba(128, 128, 128, 0.5);
}
.location_container .location_icon {
  width: 25px;
  height: 20px;
}

.site_presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 0px;
}
.site_presentation .slogan_paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 22px;
  text-align: center;
}
.site_presentation .description_paragraph {
  text-align: center;
  color: rgb(100, 98, 98);
  font-size: 15px;
}
.site_presentation button {
  outline: none;
  border: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 20px 0px;
  width: 250px;
  border-radius: 40px;
  box-shadow: 0.7px 0.7px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.site_presentation button:hover {
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.66);
}

.features {
  margin: 40px 0px 0px 20px;
  display: flex;
  flex-direction: column;
}
.features .features_title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
.features ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.features ul .features_item {
  display: flex;
  background-color: rgba(236, 218, 218, 0.658);
  padding: 20px 8px;
  gap: 20px;
  text-align: center;
  width: 95%;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.9s ease-in-out;
  box-shadow: 5px 4px 2px rgba(26, 2, 2, 0.712);
}
.features ul .features_item:hover {
  background-color: rgba(189, 168, 214, 0.937254902);
}
.features .number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-15px);
}

.features_item img {
  width: 15px;
  height: 15px;
  margin: auto 0px;
}

.text {
  font-size: 14px;
  margin: auto 0px;
}

main {
  display: flex;
  flex-direction: column;
  margin: 40px 20px 0px 20px;
}
main .resto_title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}
main .resto_cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card {
  position: relative;
  cursor: pointer;
}

.new_button {
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: lightgreen;
  color: #1b6150;
  padding: 10px;
  text-align: center;
}

.resto_list {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.resto_container {
  display: flex;
  justify-content: space-between;
  padding: 8px 9px 0px;
  background-color: rgba(212, 212, 212, 0.2);
  transform: translateY(-4px);
  height: 75px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.resto_container .resto_informations {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.resto_name {
  font-size: 18px;
  font-weight: bold;
}

.resto_heart {
  margin: auto 0;
}

.heart {
  width: 20px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}

.heart_full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}

.heart_empty {
  width: 20px;
  position: relative;
}

.heart_empty:hover {
  opacity: 0;
  transition: 0.5s;
}

@media screen and (min-width: 400px) {
  .text {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) {
  .text {
    font-size: 22px;
  }
}
@media screen and (min-width: 800px) {
  main {
    margin: 40px 0px 0px 0px;
  }

  main .resto_title {
    margin-left: 20px;
  }

  .resto_list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card {
    width: 45%;
  }
}
@media screen and (min-width: 950px) {
  .features ul {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin: 0 5%;
  }

  .text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1100px) {
  .text {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
