@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Shrikhand&display=swap");
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
}

.footer {
  margin-top: 55px;
  padding: 18px;
  background-color: #353535;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}
.footer__list a {
  color: white;
}
.footer__list a:hover {
  text-decoration: underline;
}
.footer__list .footer__item {
  cursor: pointer;
}
.footer__logo {
  margin-bottom: 20px;
  color: white;
  font-weight: 400;
  font-family: Shrikhand, sans-serif;
  font-size: 18px;
}
.footer__icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  animation: overlay 3.5s linear;
}
.loader__dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 15px;
  animation: bounce 0.5s 4;
}
.loader .dot1 {
  background-color: #FF79DA;
}
.loader .dot2 {
  background-color: #9356DC;
}
.loader .dot3 {
  background-color: #99E2D0;
}

@keyframes bounce {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes overlay {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.header__logo {
  text-align: center;
  font-family: Shrikhand, sans-serif;
  padding: 15px;
  margin: 0px auto;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.75);
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 12px 0;
  background-color: rgba(128, 128, 128, 0.5);
}
.location__icon {
  width: 25px;
  height: 20px;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0px;
}
.presentation__slogan {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 22px;
  text-align: center;
}
.presentation__description {
  text-align: center;
  color: rgb(100, 98, 98);
  font-size: 15px;
  width: 85%;
}
.presentation__button {
  outline: none;
  border: none;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 20px 0px;
  width: 250px;
  border-radius: 40px;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.presentation__button:hover {
  box-shadow: 4px 2px 10px rgba(145, 137, 137, 0.822);
}

.features {
  margin: 40px 0px 0px 20px;
  display: flex;
  flex-direction: column;
}
.features__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}
.features__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.features__item {
  display: flex;
  background-color: rgba(236, 218, 218, 0.658);
  padding: 20px 8px;
  gap: 20px;
  text-align: center;
  width: 95%;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.9s ease-in-out;
  box-shadow: 5px 4px 2px rgba(26, 2, 2, 0.712);
}
.features__item:hover {
  background-color: rgba(189, 168, 214, 0.937254902);
}
.features__item__number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-15px);
}
.features__item__icon {
  width: 15px;
  height: 15px;
  margin: auto 0px;
}
.features__item__text {
  font-size: 14px;
  margin: auto 0px;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 40px 20px 0px 20px;
}
.main__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}
.main__list {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.main__card {
  position: relative;
}
.main__card .resto__cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.main__card .main__button {
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: lightgreen;
  color: #1b6150;
  padding: 10px;
  text-align: center;
}
.main__container {
  display: flex;
  justify-content: space-between;
  padding: 8px 9px 0px;
  background-color: rgba(212, 212, 212, 0.2);
  transform: translateY(-4px);
  height: 75px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.main__container .main__informations {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main .main__heart {
  margin: auto 0;
}
.main .main__heart--icon {
  width: 20px;
  stroke-width: 30;
  stroke: black;
  fill: white;
}
.main .main__heart--full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.main .main__heart--empty {
  width: 20px;
  position: relative;
}
.main .main__heart--empty:hover {
  opacity: 0;
  transition: 0.5s;
}

@media screen and (min-width: 400px) {
  .presentation__description {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) {
  .presentation__description {
    font-size: 22px;
  }
}
@media screen and (min-width: 800px) {
  .main {
    margin: 40px 0px 0px 0px;
  }
  .main__title {
    margin-left: 20px;
  }
  .main__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .main__card {
    width: 45%;
  }
}
@media screen and (min-width: 950px) {
  .features__list {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin: 0 5%;
  }

  .features__item__text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1100px) {
  .features__item__text {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
